<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dxt.wj.customer.mapper.CustomerMapper">
    <insert id="instCu" parameterType="dxt.wj.customer.models.po.CustomerBasic">
        insert into customer_basic
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="cu.customerId != null" >
                customer_id,
            </if>
            <if test="cu.loginName != null" >
                login_name,
            </if>
            <if test="cu.realName != null" >
                real_name,
            </if>
            <if test="cu.password != null" >
                password,
            </if>
            <if test="cu.sex != null" >
                sex,
            </if>
            <if test="cu.createTime != null" >
                create_time,
            </if>
            <if test="cu.loginStatus != null" >
                login_status,
            </if>
            <if test="cu.flag != null" >
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="cu.customerId != null" >
                #{cu.customerId },
            </if>
            <if test="cu.loginName != null" >
                #{cu.loginName },
            </if>
            <if test="cu.realName != null" >
                #{cu.realName },
            </if>
            <if test="cu.password != null" >
                #{cu.password },
            </if>
            <if test="cu.sex != null" >
                #{cu.sex },
            </if>
            <if test="cu.createTime != null" >
                #{cu.createTime },
            </if>
            <if test="cu.loginStatus != null" >
                #{cu.loginStatus },
            </if>
            <if test="cu.flag != null" >
                #{cu.flag},
            </if>
        </trim>
    </insert>
    <!--批量插入一个集合-->
    <insert id="insertBatchCustomer" parameterType="java.util.List">
        insert into  customer_basic
        <!--<foreach collection="columnMap" open="(" separator="," item="it" close=")">
            ${it}
        </foreach>-->
        (customer_id, login_name, real_name, password, sex, create_time, login_status, flag )
        values
        <foreach collection="list" separator="," close=")" item="it" open="(" index="index" >
            #{it.customerId},
            #{it.loginName},
            #{it.realName},
            #{it.password},
            #{it.sex },
            #{it.createTime},
            #{it.loginStatus},
            #{it.flag}
        </foreach>
    </insert>
</mapper>