<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>动态图</title>
<head th:fragment="menu_css">
    <link  rel="stylesheet" href="../../static/css/reset.css"th:href="@{static/css/reset.css}">
    <link  rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" th:href="@{static/css/style.css}"/>
</head>
<body>
<div class="radmenu" th:fragment="menu" ><a href="#" class="show">我家猪宝</a>
    <ul>
        <li>
            <a href="#" class="">美丽</a>
            <ul>
                <li><a  href="#"><img class="mm" th:src="@{'static/imge/101.jpg'}"/></a></li>
                <li><a  href="#"><img class="mm" th:src="@{'static/imge/102.jpg'}"/></a></li>
                <li><a  href="#"><img class="mm" th:src="@{'static/imge/103.jpg'}"/></a></li>
                <li><a  href="#"><img class="mm" th:src="@{'static/imge/104.jpg'}"/></a></li>
                <li><a  href="#"><img class="mm" th:src="@{'static/imge/105.jpg'}"/></a></li>
            </ul>
        </li>
        <li>
            <a href="#">可爱</a>
            <ul>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/201.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/202.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/203.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/204.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/205.jpg'}"/></a></li>
            </ul>
        </li>
        <li>
            <a href="#">甜美</a>
            <ul>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/301.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/302.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/303.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/304.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/305.jpg'}"/></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="">黑暗</a>
            <ul>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/401.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/402.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/403.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/404.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/405.jpg'}"/></a></li>
            </ul>
        </li>
        <li>
            <a href="#">憨憨</a>
            <ul>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/501.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/502.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/503.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/504.jpg'}"/></a></li>
                <li><a href="#"><img class="mm" th:src="@{'static/imge/505.jpg'}"/></a></li>
            </ul>
        </li>
    </ul>
    <script src="../../static/js/demo.js">
    </script>
</div>
</body>
</html>